@model List<Car>

<div class="text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 home-product-list">
        @foreach (var i in Model)
        {
            <partial name="_CarHomeCardPartial" model="@i" />
        }
    </div>
</div>